<div class="container-fluid display py-5 " id="home">
    <div class="px-4 pt-5 text-center">
        
        <h1 class="py-4 dev pb-2">Bem vindo</h1>
        <div class="overflow-hidden py-4" style="max-height: 40vh;">
            <div class="container">
                <img src="https://c.tenor.com/3bTxZ4HdrysAAAAd/pixels-neon.gif"
                    class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500"
                    loading="lazy">
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 pt-5">Aqui irei mostrar meus projetos,
                minhas habilidades e falar um pouco mais sobre mim!</p>
            <div class="d-grid gap-4 d-sm-flex justify-content-sm-center mb-5">
                
                <a class="bn31" href="#sobre-mim"><span class="bn31span">Saiba mais</span></a>
                <a class="contato" href="/"><span class="contatospan">Contato</span></a>
            </div>
        </div>
        

        <div class="row d-flex justify-content-center pt-5 mt-5"  id="sobre-mim">

            <div class="section-title">
                <span class="pt-5">Sobre Mim</span>
                <h2 class="pt-5">Sobre Mim</h2>
            </div>

            <div class="col-md-7">

                <div class="card p-3">

                    <div class="text-center">
                        <img src="https://i.imgur.com/aIYr4HY.jpg" width="100" class="rounded-circle">
                    </div>

                    <div class="text-center text-dark mt-3">
                        <h5 class="mt-2 mb-0">Camila Martins</h5>
                        <span>Web Fullstack Developer</span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Desde pequena sempre tive um interesse muito grande pela área de
                                tecnologia, desmontava brinquedos e aparelhos eletrônicos para ver como eles funcionavam
                                por dentro e esse interesse prevalece até os dias de hoje, onde tive a oportunidade de
                                participar do bootcamp da Generation Brasil. Atualmente sou Desenvolvedora Java Web Fullstack, com foco no Front-end e UX/UI.</p>

                        </div>

                        <ul class="social-list">
                            <li class="hovicon effect-3 sub-a"><a href="https://github.com/cami-codes/" target="_blank"><i class="bi bi-github"></i></a></li>
                            <li><a href="mailto:camilarmartins24@gmail.com" target="_blank"><i class="bi bi-google"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/camilamrmartins/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                            
                        </ul>

                        <div class="buttons">

                            <button class="btn btn-outline-primary px-4">Habilidades</button>
                            <button class="btn btn-primary px-4 ms-3" onclick="window.location.href = '#projetos'">Projetos</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>