<div class="container-fluid display" style="background-color: #252829;">
    <div class="px-4 pt-5 text-center border-bottom">
        <h1 class="display-4 fw-bold pt-4 h1">Desenvolvedora Web Fullstack</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Deseja saber mais sobre mim? Está no lugar certo! Aqui irei mostrar meus projetos,
                minhas habilidades e falar um pouco mais sobre a Camila!</p>
            <div class="d-grid gap-4 d-sm-flex justify-content-sm-center mb-5">
                <a class="bn31" href="/"><span class="bn31span">Saiba mais</span></a>
                <a class="contato" href="/"><span class="contatospan">Contato</span></a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 35vh;">
            <div class="container px-5">
                <img src="https://cdn.pixabay.com/photo/2020/11/19/15/33/purple-lights-5758893_960_720.jpg"
                    class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500"
                    loading="lazy">
            </div>
        </div>

        <div class="row d-flex justify-content-center py-5 my-5" style="background-color: #313536;">

            <div class="section-title">
                <span>Sobre Mim</span>
                <h2>Sobre Mim</h2>
            </div>

            <div class="col-md-8">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img src="https://i.imgur.com/aIYr4HY.jpg" width="100" class="rounded-circle">
                    </div>

                    <div class="text-center text-dark mt-3">
                        <h5 class="mt-2 mb-0">Camila Martins</h5>
                        <span>Web Fullstack Developer</span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Desde pequena sempre tive um interesse muito grande pela área de
                                tecnologia, desmontava brinquedos e aparelhos eletrônicos para ver como eles funcionavam
                                por dentro e esse interesse prevalece até os dias de hoje, onde tive a a oportunidade de
                                participar do bootcamp da Generation Brasil. Atualmente sou Desenvolvedora Java Web Fullstack, com foco no Front-end e UX/UI.</p>

                        </div>

                        <ul class="social-list">
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                            <li><i class="fa fa-google"></i></li>
                        </ul>

                        <div class="buttons">

                            <button class="btn btn-outline-primary px-4">Message</button>
                            <button class="btn btn-primary px-4 ms-3">Contact</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>