<div class="modal fade noselect" id="modalContato" tabindex="-1" aria-labelledby="modalContatoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalContatoLabel">Contato</h5>
                
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nome" class="font-weight-bold">Nome</label>
                    <input type="text" placeholder="Seu nome" class="rounded-pill form-control ">

                </div>

                <div class="form-group">
                    <label for="email" class="font-weight-bold">E-mail</label>
                    <input type="email" placeholder="Seu e-mail" class="rounded-pill form-control ">

                </div>

                <div class="form-group">
                    <label for="mensagem" class="font-weight-bold">Mensagem</label>
                    <input type="textarea" type="text" placeholder="Escreva sua mensagem" class="rounded-pill form-control ">
                </div>

            </div>
            <em class="text-center"><small>essa área ainda está em desenvolvimento.</small></em>
            
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>

                <button type="button" class="btn btn-success text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>