<div class="row d-flex justify-content-center pt-5 m-0" id="projetos">

  <div class="section-title">
    <span class="pt-5">Projetos</span>
    <h2 class="pt-5">Projetos</h2>
  </div>
</div>

<section class="body noselect">
  <div class="container">

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="https://i.imgur.com/BunGUFa.png">
        </div>
        <div class="contentBx">
          <h3>Zero Waste<br><span>Fullstack</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalUm">
            Detalhes
          </a>
        </li>
        <li>
          <a href="https://github.com/cami-codes/FrontZeroWaste" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://zerowasteg.netlify.app" target="_blank">Deploy</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="https://i.imgur.com/2V4JLEb.png">
        </div>
        <div class="contentBx">
          <h3>Blog Pessoal<br><span>Fullstack</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalDois">
            Detalhes
          </a>
        </li>
        <li>
          <a href="https://github.com/cami-codes/BlogPessoalFront" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://cami-blog.netlify.app/" target="_blank">Deploy</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/img/picrew (4).png">
        </div>
        <div class="contentBx">
          <h3>Portfólio<br><span>Front-end</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalTres">
            Detalhes
          </a>
        </li>
        <li>
          <a href="https://github.com/cami-codes/Portfolio" target="_blank">Github</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img
            src="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc2980749091d52751ffabb7b7">
        </div>
        <div class="contentBx">
          <h3>Loja de Jogos<br><span>Front-end em desenvolvimento</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalQuatro">
            Detalhes
          </a>
        </li>
        <li>
          <a href="https://github.com/cami-codes/LojaGames" target="_blank">Github</a>
        </li>
        <li>
          <a class="disabled" href="#">Deploy</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img
            src="https://img.freepik.com/fotos-premium/prescricao-de-enchimento-farmaceutico-na-farmacia-farmacia_67340-187.jpg?w=2000">
        </div>
        <div class="contentBx">
          <h3>Farmácia<br><span>Front-end em desenvolvimento</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalCinco">
            Detalhes
          </a>
        </li>
        <li>
          <a href="https://github.com/cami-codes/Farmacia" target="_blank">Github</a>
        </li>
        <li>
          <a class="disabled" href="#">Deploy</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="https://img.quizur.com/f/img610069466521e6.83883645.jpg?lastEdited=1627416916">
        </div>
        <div class="contentBx">
          <h3>Animates<br><span>Em desenvolvimento</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a data-bs-toggle="modal" data-bs-target="#modalSeis">
            Detalhes
          </a>
        </li>
        <li>
          <a class="disabled" href="#">Github</a>
        </li>
        <li>
          <a class="disabled" href="#">Deploy</a>
        </li>
      </ul>
    </div>

  </div>
</section>
