<div class="row d-flex justify-content-center pt-5 m-0" id="habilidades">

  <div class="section-title">
    <span class="pt-5">Habilidades</span>
    <h2 class="pt-5">Habilidades</h2>
  </div>
</div>

<div class="body">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="6"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="7"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="8"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="9"></li>
    </ol>
    
    <div class="carousel-inner" style="max-height: 65vh;">
      <div class="carousel-item active">
        <div class="img-box">
          <a href="https://www.java.com/pt-BR/" target="_blank"><img class="img-fluid"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" /></a>
        </div>
        <p class="testimonial">O Java é uma linguagem de programação orientada a objetos e é uma das linguagens mais
          utilizadas pelas empresas na atualidade no desenvolvimento de aplicações WEB e Mobile. <a
            href="https://github.com/cami-codes/ProjetoBlocoI">Nesse repositório</a> você pode ver algumas das coisas
          que aprendi e continuo desenvolvendo continuamente. </p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://spring.io/projects/spring-boot" target="_blank"><img class="img-fluid"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" /></a>
        </div>
        <p class="testimonial">O Spring Boot é um framework Java open source que tem como objetivo facilitar esse
          processo em aplicações Java. Todos os meus projetos back-end/fullstack foram desenvolvidos pelo Spring Boot,
          utilizando o padrão MVC.</p>

      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://www.mysql.com" target="_blank"><img class="img-fluid"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" /></a>
        </div>
        <p class="testimonial">O MySQL é um sistema gerenciador de banco de dados relacional de código aberto usado na
          maioria das aplicações gratuitas para gerir suas bases de dados.</p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://angular.io" target="_blank"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" /></a>
        </div>
        <p class="testimonial">O Angular é um framework JavaScript de código aberto mantido pela Google para a
          construção de SPA (sigla para Single Page Applications ou Aplicações de Página Única).</p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://www.typescriptlang.org" target="_blank"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" /></a>
        </div>
        <p class="testimonial">Typescript é uma linguagem de código aberto desenvolvida pela Microsoft que foi
          construída em cima do Javascript, que é muito difundido atualmente. Então esse “superset” foi criado para
          adicionar recursos de tipagem estáticas à linguagem original.</p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" /></a>
        </div>
        <p class="testimonial">JavaScript é uma linguagem de programação que permite a você implementar itens complexos
          em páginas web mostrando conteúdo que se atualiza em um intervalo de tempo, mapas interativos ou gráficos
          2D/3D animados, etc.</p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" target="_blank"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /></a>
        </div>
        <p class="testimonial">HTML significa HiperText Markup Language, traduzindo ao português: Linguagem de Marcação
          de Hipertexto. O HTML é o componente básico da web, ele permite inserir o conteúdo e estabelecer a estrutura
          básica de um website. </p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /></a>
        </div>
        <p class="testimonial">CSS é a sigla para o termo em inglês Cascading Style Sheets que, traduzido para o
          português, significa Folha de Estilo em Cascatas. O CSS é fácil de aprender e entender e é facilmente
          utilizado com as linguagens de marcação HTML ou XHTML. </p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://getbootstrap.com" target="_blank"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" /></a>
        </div>
        <p class="testimonial">Bootstrap é um framework front-end que fornece estruturas de CSS para a criação de sites
          e aplicações responsivas de forma rápida e simples. Além disso, pode lidar com sites de desktop e páginas de
          dispositivos móveis da mesma forma.</p>
      </div>

      <div class="carousel-item">
        <div class="img-box">
          <a href="https://www.figma.com/" target="_blank"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" /></a>
        </div>
        <p class="testimonial">Figma é um editor online de gráficos vetoriais com ênfase na prototipagem de interfaces
          gráficas e estruturas de design de experiência de usuário.</p>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <i class="fa fa-angle-left"></i>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <i class="fa fa-angle-right"></i>
    </button>
  </div>

</div>