<!-- PROJETO UM -->
<div class="modal fade noselect" id="modalUm" tabindex="-1" aria-labelledby="modalUmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalUmLabel">Zero Waste</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Muitos alimentos são desperdiçados em cozinhas industriais, ou não conseguem chegar na mesa de quem
                precisa, por uma falha de comunicação entre os envolvidos e o curto prazo de validade desses produtos.
                A Zero Waste é uma plataforma voltada para a responsabilidade social, embasada na sustentabilidade. Ao
                publicar uma doação, a pessoa física ou jurídica estará comunicando para ONGs e Associações de moradores
                cadastrados sua intenção de destinar o alimento a quem precisa, antes que estrague. Voluntários também
                poderão fazer o transporte da comida para que chegue o mais rápido possível ao local de destino.
                O Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação
                pelo JUnit e Insomnia.
                No Front-end consumimos a API através do framework Angular com a linguagem Typescript. O Deploy do
                back-end foi feito pelo Heroku, e o front-end pelo Netlify.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- PROJETO DOIS -->
<div class="modal fade noselect" id="modalDois" tabindex="-1" aria-labelledby="modalDoisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalDoisLabel">Blog Pessoal</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Rede social que aborda questões LGBTQIAP+ em jogos através de postagens. Podemos cadastrar, editar e
                deletar postagens, temas e usuários.
                O Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação
                pelo JUnit e Insomnia.
                No Front-end consumi a API através do framework Angular com a linguagem Typescript. O Deploy do back-end
                foi feito pelo Heroku, e o front-end pelo Netlify.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- PROJETO TRÊS -->
<div class="modal fade noselect" id="modalTres" tabindex="-1" aria-labelledby="modalTresLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalTresLabel">Portfólio</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nesse portfólio coloquei em prática meus conhecimentos em Angular, Typescript, HTML, CSS e Bootstrap, a
                fim de mostrar um pouco mais sobre mim e meu trabalho.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- PROJETO QUATRO -->
<div class="modal fade noselect" id="modalQuatro" tabindex="-1" aria-labelledby="modalQuatroLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalQuatroLabel">Loja de Jogos</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Um e-commerce de jogos com cadastro de produtos e categorias, carrinho de compras, métodos de pagamento
                e de curtir produtos. O
                Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação pelo
                JUnit e Insomnia. O Front-end está em desenvolvimento através do Angular 8+ e Typescript.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- PROJETO CINCO -->
<div class="modal fade noselect" id="modalCinco" tabindex="-1" aria-labelledby="modalCincoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalCincoLabel">Farmácia</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Um e-commerce de farmácia com cadastro de produtos e categorias, carrinho de compras e métodos de
                pagamento. O
                Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação pelo
                JUnit e Insomnia. O Front-end está em desenvolvimento através do Angular 8+ e Typescript.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- PROJETO SEIS -->
<div class="modal fade noselect" id="modalSeis" tabindex="-1" aria-labelledby="modalSeisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalSeisLabel">Animates</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Catálogo de animes que irá consumir uma API externa para mostrar informações sobre diversos animes,
                detalhes de episódios, classificação e rating.
                Projeto ainda em desenvolvimento!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fechar text-white" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>