<div class="container col-xxl-8 px-4 pt-5 text-white" id="home">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../assets/img/picrew (4).png" class="d-block mx-lg-auto img-fluid pt-3" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 dev pt-2">Seja bem vindo!</h1>
            <p class="lead pt-2">Meu nome é Camila, sou Desenvolvedora Web Fullstack e nesse portfólio irei mostrar um
                pouco mais sobre mim, meus projetos, minhas habilidades e serviços!</p>
            <div class="d-grid gap-3 pt-2 d-md-flex justify-content-md-start">
                <a class="bn31" href="#sobre-mim"><span class="bn31span">Sobre mim</span></a>
                <a class="contato" href="../../assets/pdf/Currículo Camila Martins.pdf" target="_blank"><span class="contatospan">Currículo</span></a>

            </div>
        </div>
    </div>
    
</div>